@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  background-color: #f8f8f8;
  color: black;
  width: 100%;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #222;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  color: #222;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
  color: #222222;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 231, 122);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  transition: color 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #ff6f61;
  text-decoration: underline;
}

#hero {
  background-image: url("Assets/shopping\ lady.jpg");
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 60px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1 {
  margin-top: -120px;
  margin-bottom: 30px;
}
#hero h2 {
  margin-top: -30px;
  margin-bottom: 30px;
  color: #ff6f61;
}

#hero button {
  padding: 14px 80px 14px 65px;
  background-color: #f51b08;
  background-repeat: no-repeat;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

#feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#feature .feature-box {
  text-align: center;
  width: 240px;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #fff9d5;
  border-radius: 4px;
}

#feature .feature-box:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.5);
}

#product1 {
  text-align: center;
}

#product1 .prod-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #fff9d5;
  border-radius: 4px;
  margin: 15px;
  border-radius: 25px;
  position: relative;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .desc {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .desc span {
  color: darkgrey;
  font-size: 14px;
}

#product1 .pro .desc h5 {
  font-size: 14px;
  color: #1a1a1a;
  padding-top: 7px;
}
#product1 .pro .desc i {
  font-size: 12px;
  color: hsl(61, 100%, 46%);
  padding-top: 7px;
}
#product1 .pro .desc h4 {
  font-size: 20px;
  color: #1a1a1a;
  padding-top: 7px;
  font-weight: 700;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #fff9d5;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}

.sub-footer {
  text-align: center;
}
@media (max-width: 799px) {
  #navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #fff9d5;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }

  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: 1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #1a1a1a;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
}

@media (min-width: 800px) {
  #mobile {
    display: none;
    align-items: center;
  }

  #close {
    display: none;
    align-items: center;
  }
}
